* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto' sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* stilizzazione aside */

aside {
    width: 200px;
    height: calc(100vh - 70px);
    background-color: #040404;
    position: fixed;
    top: 0;
    left: 0;
}

/* stilizzazione header */

header {
    height: 70px;
    width: calc(100vw - 200px);
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    opacity: 1;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 10px;
}

header button:hover {
    transform: scale(1.01);
}

/* stilizzazione main */

main {
    height: calc(100vh - 70px);
    width: calc(100vw - 200px);
    background-color: #121212;
    margin-left: 200px;
    overflow-y: auto;
}

/* stilizzazione player */

.player {
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}
