* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Roboto', sans-serif;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/* stilizzazione aside */

aside {
    width: 200px;
    height: calc(100vh - 70px);
    background-color: #040404;
    position: fixed;
    top: 0;
    left: 0;
    color: #b4b4b4;
}

aside img {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
    color: #b4b4b4;
    font-size: 14px;
    font-weight: 600;
}

.aside-menu i {
    font-size: 23px;
    transform: translateY(2px);
    padding-right: 7px;
}

.aside-menu li {
    padding: 7px 20px;
    border-left: 2px solid #040404;
}

.aside-menu li:first-child {
    border-left: 2px solid #cddc39;
}

.aside-menu a.home {
    color: white;
}

aside a:hover {
    color: white;
}

.playlist {
    padding-left: 20px;
    margin-top: 20px;
}

.playlist h4 {
    color: white;
}

.playlist p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlist p a {
    font-size: 17px;
}

.playlist a i {
    color: #040404;
    background-color: #b4b4b4;
    padding: 10px;
    margin-right: 10px;
}

.playlist a:hover i {
    background-color: white;
}

.playlist ul {
    list-style: none;
}

.playlist li {
    line-height: 30px;
}

aside .appendice {
  padding-left: 20px;
  margin-top: 30px;
}

aside hr {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #b4b4b4;
}

aside .appendice i {
    margin-right: 5px;
}

aside .appendice .profilo a {
    color: white;
}

aside .appendice .profilo i {
    font-size: 20px;
    color: #b4b4b4;
}



/* stilizzazione header */

header {
    height: 70px;
    width: calc(100vw - 200px);
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    opacity: 1;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 10px;
}

header button:hover {
    transform: scale(1.01);
}

/* stilizzazione main */

main {
    height: calc(100vh - 70px);
    width: calc(100vw - 200px);
    background-color: #121212;
    margin-left: 200px;
    overflow-y: auto;
}

/* stilizzazione player */

.player {
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}
